

//colors
$color_white: #FFF;
$color_swamp: #001614;
$color_gray: #888;
$color_silver: #CCC;
$color_blue: #79DEE7;
$color_persimmon: #FF565B;
$color_linea:  #8080803d;


// Typography
$font_family-lato: 'Roboto', sans-serif;
$font_family-lato-weight-regular: 300;




// fonts sizes
$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

//default
$font-family-default:  $font_family-lato;
$font-size-default  :  $font-size-x-large;
$font-weight-default:  $font_family-lato-weight-regular;

//breakpoint
$breakpoints: (
  
    'sm' : (min-width: 576px),
    'md' : (min-width: 768px),
    'lg' : (min-width: 992px),
    'xl' : (min-width: 1200px),
    'm-sm' : (max-width: 576px),
    'm-md' : (max-width: 768px),
    'm-lg' : (max-width: 992px),
    'm-xl' : (max-width: 1200px)
    ) !default;