.videos_box {
    padding-bottom: 1rem;

    &-img {
        padding-bottom: 1rem;
    }



}

.perfil-wrapper {

    display        : flex;
    height         : 100%;
    align-items    : center;
    justify-content: end;

    &-button {}



}