.container {
    max-width: 95% !important;
}

//ocultar elementos
@include respond-to('m-md') { 
    .header {
        border-bottom: 0 !important;
    }
    .perfil-button {
        display: none;
    }

  }