
.banner{

    background-image: url("../images/image-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 300px;
    margin-top: 4rem;
}

.header {
    border-bottom: 1px solid gray;
}
.perfil{
    padding-bottom: 2rem;
}

/*
.perfil-button {
    text-align: right;
}
*/