
.banner{
    background-image: url("../images/image-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 300px;
    margin-top: 4rem;
}

.header {
      border-bottom: 1px solid $color_linea;
}

.navbar-brand{
    font-size: 3rem;
    font-weight: 500;
}


.navbar{
    background-color:$color_white !important;
    &-brand{
        sup {
            top: -2.5em;
            font-size: 0.8rem;
        }
    }
} 

//fontawesome
i {
    font-size: 1.7em;
}

